#textdomain wesnoth-Bobs_RPG_Era
[unit_type]
    id=Human White Mage
    name= _ "Magician"
    race=human
    gender=male,female
    image="units/human-magi/white-mage.png"
    ellipse="misc/ellipse-elite"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=34
    movement_type=smallfoot
    movement=5
    experience=34
    level=2
    alignment=lawful
    advances_to=null
    {AMLA_BOB}
    cost=40
    usage=healer
    description= _ "Weapon Skills:
Melee: Staff Wielding
Ranged: Light"

    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-magi/white-mage-defend.png" "units/human-magi/white-mage.png" {SOUND_LIST:HUMAN_OLD_HIT} }

	[attack]
        name=staff
        description= _"staff"
        icon=attacks/staff-magic.png
        type=impact
        range=melee
        damage=6
        number=2
    [/attack]
    
    [attack]
        name=lightbeam
        description=_"lightbeam"
        icon=attacks/lightbeam.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=8
        number=3
    [/attack]
        
    [leading_anim]
        [frame]
            begin=-150
            end=150
            image="units/human-magi/white-mage-magic-3.png"
        [/frame]
    [/leading_anim]


    [healing_anim]
        [frame]
            begin=-525
            end=-450
            image="units/human-magi/white-mage-magic-1.png"
        [/frame]
        [frame]
            begin=-450
            end=-375
            image="units/human-magi/white-mage-magic-2.png"
        [/frame]
        [frame]
            begin=-375
            end=-300
            image="units/human-magi/white-mage-magic-3.png"
            halo=halo/holy/halo6.png
        [/frame]
        [frame]
            begin=-300
            end=-225
            image="units/human-magi/white-mage-magic-3.png"
            halo=halo/holy/halo1.png
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/human-magi/white-mage-magic-3.png"
            halo=halo/holy/halo2.png
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/human-magi/white-mage-magic-3.png"
            halo=halo/holy/halo3.png
        [/frame]
        [frame]
            begin=-75
            end=0
            image="units/human-magi/white-mage-magic-3.png"
            halo=halo/holy/halo4.png
        [/frame]
        [frame]
            begin=0
            end=75
            image="units/human-magi/white-mage-magic-3.png"
            halo=halo/holy/halo5.png
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/human-magi/white-mage-magic-3.png"
            halo=halo/holy/halo6.png
        [/frame]
        [frame]
            begin=150
            end=225
            image="units/human-magi/white-mage-magic-2.png"
        [/frame]
        [frame]
            begin=225
            end=300
            image="units/human-magi/white-mage-magic-1.png"
        [/frame]
    [/healing_anim]

    [attack_anim]
        [filter_attack]
            range=ranged
        [/filter_attack]
        {MISSILE_FRAME_LIGHT_BEAM}

        [frame]
            begin=-300
            end=-225
            image="units/human-magi/white-mage-magic-1.png"
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/human-magi/white-mage-magic-2.png"
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/human-magi/white-mage-magic-3.png"
            halo=halo/holy/halo6.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-75
                end=0
                image="units/human-magi/white-mage-magic-3.png"
                sound={SOUND_LIST:HOLY}
                halo=halo/holy/halo1.png
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-75
                end=0
                image="units/human-magi/white-mage-magic-3.png"
                sound={SOUND_LIST:HOLY_MISS}
                halo=halo/holy/halo1.png
            [/frame]
        [/else]
        [frame]
            begin=0
            end=75
            image="units/human-magi/white-mage-magic-3.png"
            halo=halo/holy/halo3.png
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/human-magi/white-mage-magic-3.png"
            halo=halo/holy/halo5.png
        [/frame]

        [frame]
            begin=150
            end=200
            image="units/human-magi/white-mage-magic-3.png"
            halo=halo/holy/halo6.png
        [/frame]
        [frame]
            begin=200
            end=250
            image="units/human-magi/white-mage-magic-2.png"
        [/frame]
        [frame]
            begin=250
            end=300
            image="units/human-magi/white-mage-magic-1.png"
        [/frame]
    [/attack_anim]
    
    # Melee
    
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        [frame]
            begin=-325
            end=-300
            image="units/human-magi/white-mage.png"
        [/frame]
        [frame]
            begin=-300
            end=-200
            image="units/human-magi/white-mage-melee-1.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/human-magi/white-mage-melee-2.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/human-magi/white-mage-melee-3.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/human-magi/white-mage-melee-3.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=150
            image="units/human-magi/white-mage-melee-4.png"
        [/frame]
        [frame]
            begin=150
            end=250
            image="units/human-magi/white-mage-melee-5.png"
        [/frame]
        [frame]
            begin=250
            end=350
            image="units/human-magi/white-mage-melee-6.png"
        [/frame]
    [/attack_anim]
    [female]
        name= _ "female^Magician"
        gender=female
        image="units/human-magi/white-mage+female.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/human-magi/white-mage+female-defend.png" "units/human-magi/white-mage+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        
    [leading_anim]
        [frame]
            begin=-150
            end=150
            image="units/human-magi/white-mage+female-magic-3.png"
        [/frame]
    [/leading_anim]
    
        [healing_anim]
            [frame]
                image="units/human-magi/white-mage+female-magic-1.png"
            [/frame]
            [frame]
                image="units/human-magi/white-mage+female-magic-2.png"
            [/frame]
            [frame]
                image="units/human-magi/white-mage+female-magic-3.png"
            [/frame]
            [frame]
                image="units/human-magi/white-mage+female-magic-3.png"
            [/frame]
            [frame]
                image="units/human-magi/white-mage+female-magic-3.png"
            [/frame]
            [frame]
                image="units/human-magi/white-mage+female-magic-3.png"
            [/frame]
            [frame]
                image="units/human-magi/white-mage+female-magic-3.png"
            [/frame]
            [frame]
                image="units/human-magi/white-mage+female-magic-3.png"
            [/frame]
            [frame]
                image="units/human-magi/white-mage+female-magic-3.png"
            [/frame]
            [frame]
                image="units/human-magi/white-mage+female-magic-2.png"
            [/frame]
            [frame]
                image="units/human-magi/white-mage+female-magic-1.png"
            [/frame]
        [/healing_anim]
        
        # Ranged
        
        [attack_anim]
            [filter_attack]
				range=ranged
            [/filter_attack]
            {MISSILE_FRAME_LIGHT_BEAM}
            [frame]
                image="units/human-magi/white-mage+female-magic-1.png"
            [/frame]
            [frame]
                image="units/human-magi/white-mage+female-magic-2.png"
            [/frame]
            [frame]
                image="units/human-magi/white-mage+female-magic-3.png"
            [/frame]
            [if]
                [frame]
                    image="units/human-magi/white-mage+female-magic-3.png"
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/human-magi/white-mage+female-magic-3.png"
                [/frame]
            [/else]
            [frame]
                image="units/human-magi/white-mage+female-magic-3.png"
            [/frame]
            [frame]
                image="units/human-magi/white-mage+female-magic-3.png"
            [/frame]
            [frame]
                image="units/human-magi/white-mage+female-magic-3.png"
            [/frame]
            [frame]
                image="units/human-magi/white-mage+female-magic-2.png"
            [/frame]
            [frame]
                image="units/human-magi/white-mage+female-magic-1.png"
            [/frame]
        [/attack_anim]
        
        # Melee
        
        [attack_anim]
            [filter_attack]
                range=melee
            [/filter_attack]
            [frame]
                image="units/human-magi/white-mage+female.png"
            [/frame]
            [frame]
                image="units/human-magi/white-mage+female-melee-1.png"
            [/frame]
            [frame]
                image="units/human-magi/white-mage+female-melee-2.png"
            [/frame]
            [if]
                [frame]
                    image="units/human-magi/white-mage+female-melee-3.png"
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/human-magi/white-mage+female-melee-3.png"
                [/frame]
            [/else]
            [frame]
                image="units/human-magi/white-mage+female-melee-4.png"
            [/frame]
            [frame]
                image="units/human-magi/white-mage+female-melee-5.png"
            [/frame]
            [frame]
                image="units/human-magi/white-mage+female-melee-6.png"
            [/frame]
        [/attack_anim]
    [/female]
[/unit_type]
