#textdomain wesnoth-Bobs_RPG_Era
[unit_type]
	id=Dwarf Pathfinder
	name= _ "Ranger"
	race=dwarf
	image="units/dwarves/pathfinder.png"
	ellipse="misc/ellipse-elite"
	{MAGENTA_IS_THE_TEAM_COLOR}
	hitpoints=43
	movement_type=dwarvishfoot
	movement=4
	experience=40
	level=2
	alignment=neutral
	advances_to=null
	{AMLA_BOB}
	undead_variation=dwarf
	cost=28
	usage=scout
	description= _ "Weapon Skills:
Melee: Axe Wielding
Ranged: Hatcheteering"

	die_sound={SOUND_LIST:DWARF_DIE}
    #weakened from 9 damage to 8 damage
    {DEFENSE_ANIM_RANGE "units/dwarves/pathfinder-melee-defend-2.png" units/dwarves/pathfinder-melee-defend-1.png {SOUND_LIST:DWARF_HIT} melee}
    {DEFENSE_ANIM_RANGE "units/dwarves/pathfinder-ranged-defend-2.png" units/dwarves/pathfinder-ranged-defend-1.png {SOUND_LIST:DWARF_HIT} ranged}
	
	[attack]
        name=axe
        description=_"axe"
        icon=attacks/axe.png
        type=blade
        range=melee
        damage=4
        number=3
    [/attack]
    
	[attack]
		name=hatchet
		description= _ "hatchet"
		icon=attacks/hatchet.png
		type=blade
		range=ranged
		damage=8
		number=3
	[/attack]

   [leading_anim]
        [frame]
            begin=-150
            end=150
            image="units/dwarves/pathfinder-melee-2.png"
        [/frame]
    [/leading_anim]
    
    [healing_anim]
        [frame]
            begin=-150
            end=150
            image="units/dwarves/pathfinder-melee-1.png"
        [/frame]
    [/healing_anim]
    	
	# Ranged
	
	[attack_anim]
        [filter_attack]
            range=ranged
        [/filter_attack]
        {MISSILE_FRAME_HATCHET}
        [frame]
            begin=-300
            end=-100
            image="units/dwarves/pathfinder-ranged-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image=units/dwarves/pathfinder-ranged-2.png
                sound=hatchet.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image=units/dwarves/pathfinder-ranged-2.png
                sound=hatchet-miss.wav
            [/frame]
        [/else]
        [frame]
            begin=0
            end=100
            image=units/dwarves/pathfinder-ranged-3.png
        [/frame]
    [/attack_anim]
    
    # Melee
    
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        start_time=-340
        offset=0.0~0.1:290,0.1~0.6:150,0.6~0.0:150
        [frame]
            duration=80
            image="units/dwarves/pathfinder-melee.png"
        [/frame]
        [frame]
            duration=80
            image="units/dwarves/pathfinder-melee-1.png"
        [/frame]
        [frame]
            duration=80
            image="units/dwarves/pathfinder-melee-2.png"
        [/frame]
        [frame]
            duration=50
            image="units/dwarves/pathfinder-melee-3.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=50
                image="units/dwarves/pathfinder-melee-4.png"
                sound=axe.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=50
                image="units/dwarves/pathfinder-melee-4.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/dwarves/pathfinder-melee-5.png"
        [/frame]
        [frame]
            duration=100
            image="units/dwarves/pathfinder-melee-6.png"
        [/frame]
    [/attack_anim]
    
[/unit_type]
