[unit_type]
	id=Elf Archer
    name= _ "Ranger"
    race=elf
    gender=male,female
    image="units/elves-wood/ranger.png"
    ellipse="misc/ellipse-elite"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=37
    movement_type=woodland
    movement=5
    experience=40
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_BOB}
    undead_variation=archer
    cost=41
    usage=mixed fighter
    description= _ "Though a man might spend years in the forest, he will never shake the feeling that he is a guest in a place he is not truly a part of. With elves, this is quite reversed. Any elf that studies the lore of the woods becomes a fitting master of them. This, combined with a considerable skill at archery, is very useful in warfare."
    die_sound={SOUND_LIST:ELF_HIT}
	
	[attack]
        name="Elven Sword"
        description=_"elven sword"
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=4
        number=3
    [/attack]
    
    [attack]
        name="Bow"
        description=_"bow"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=6
        number=4
    [/attack]
    
    [leading_anim]
        [frame]
            begin=-150
            end=150
            image="units/elves-wood/ranger-bow-defend.png"
        [/frame]
    [/leading_anim]
    [healing_anim]
        [frame]
            begin=-150
            end=150
            image="units/elves-wood/ranger-bow-defend.png"
        [/frame]
    [/healing_anim]
    
    {DEFENSE_ANIM_RANGE "units/elves-wood/ranger-sword-defend.png" "units/elves-wood/ranger-sword.png" {SOUND_LIST:ELF_HIT} melee }
    {DEFENSE_ANIM_RANGE "units/elves-wood/ranger-bow-defend.png" "units/elves-wood/ranger-bow.png" {SOUND_LIST:ELF_HIT} ranged }
    
    # Ranged
    
    [attack_anim]
        [filter_attack]
            range=ranged
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            begin=-445
            end=-380
            image="units/elves-wood/ranger-bow.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-380
                end=-305
                image="units/elves-wood/ranger-bow-attack1.png"
                sound=bow.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-380
                end=-305
                image="units/elves-wood/ranger-bow-attack1.png"
                sound=bow-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-305
            end=-230
            image="units/elves-wood/ranger-bow-attack2.png"
        [/frame]
        [frame]
            begin=-230
            end=-130
            image="units/elves-wood/ranger-bow-attack3.png"
        [/frame]
        [frame]
            begin=-130
            end=0
            image="units/elves-wood/ranger-bow-attack4.png"
        [/frame]
        [frame]
            begin=0
            end=65
            image="units/elves-wood/ranger-bow.png"
        [/frame]
    [/attack_anim]
    
    # Melee
    
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        [frame]
            begin=-200
            end=-175
            image="units/elves-wood/ranger-sword.png"
        [/frame]
        [frame]
            begin=-175
            end=-75
            image="units/elves-wood/ranger-sword-1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-75
                end=75
                image="units/elves-wood/ranger-sword-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-75
                end=75
                image="units/elves-wood/ranger-sword-2.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=75
            end=175
            image="units/elves-wood/ranger-sword-3.png"
        [/frame]
        [frame]
            begin=175
            end=200
            image="units/elves-wood/ranger-sword.png"
        [/frame]
    [/attack_anim]
    [female]
        name= _ "female^Ranger"
        gender=female
        image="units/elves-wood/ranger+female.png"
        die_sound={SOUND_LIST:ELF_FEMALE_HIT}
        {DEFENSE_ANIM_RANGE "units/elves-wood/ranger-sword-defend.png" "units/elves-wood/ranger+female-sword.png" {SOUND_LIST:ELF_FEMALE_HIT} melee}
        {DEFENSE_ANIM_RANGE "units/elves-wood/ranger+female-bow-defend.png" "units/elves-wood/ranger+female-bow.png" {SOUND_LIST:ELF_FEMALE_HIT} ranged}
        
   [leading_anim]
        [frame]
            begin=-150
            end=150
            image="units/elves-wood/ranger+female-bow-defend.png"
        [/frame]
    [/leading_anim]
    [healing_anim]
        [frame]
            begin=-150
            end=-150
            image="units/elves-wood/ranger+female-bow-defend.png"
        [/frame]
    [/healing_anim]
    
        [attack_anim]
            [filter_attack]
                range=ranged
            [/filter_attack]
            [frame]
                image="units/elves-wood/ranger+female-bow.png"
            [/frame]
            [if]
                [frame]
                    image="units/elves-wood/ranger+female-bow-attack1.png"
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/elves-wood/ranger+female-bow-attack1.png"
                [/frame]
            [/else]
            [frame]
                image="units/elves-wood/ranger+female-bow-attack2.png"
            [/frame]
            [frame]
                image="units/elves-wood/ranger+female-bow-attack3.png"
            [/frame]
            [frame]
                image="units/elves-wood/ranger+female-bow-attack4.png"
            [/frame]
            [frame]
                image="units/elves-wood/ranger+female-bow.png"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
				range=melee
            [/filter_attack]
            [frame]
                image="units/elves-wood/ranger+female-sword.png"
            [/frame]
            [frame]
                image="units/elves-wood/ranger+female-sword-1.png"
            [/frame]
            [if]
                [frame]
                    image="units/elves-wood/ranger+female-sword-2.png"
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/elves-wood/ranger+female-sword-2.png"
                [/frame]
            [/else]
            [frame]
                image="units/elves-wood/ranger+female-sword-3.png"
            [/frame]
            [frame]
                image="units/elves-wood/ranger+female-sword.png"
            [/frame]
        [/attack_anim]
    [/female]
[/unit_type]
