#textdomain wesnoth-Bobs_RPG_Era

####################################################################################
# Special Macros
####################################################################################

#define AMLA_BOB
    [advancement]
        strict_amla=yes
        max_times=100
        id=bob
        description= _ "+10 Character Points, +20% Max XP"
        image="misc/cp-overlay.png"
        [effect]
            apply_to=hitpoints
            #increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
#enddef
	
#define BOB_CREATE_CONJURED_UNIT TYPE
{BOB_REDRAW}
{BOB_SOUND magic-missile-1-miss.ogg,magic-missile-2-miss.ogg,magic-missile-3-miss.ogg}
[item]
	x=$x1
	y=$y1
	#halo="scenery/fire1.png:150,scenery/fire2.png:150,scenery/fire3.png:150,scenery/fire4.png:150"
	halo="halo/teleport-9.png:70,halo/teleport-8.png:70,halo/teleport-1.png:70,halo/teleport-2.png:70,halo/teleport-3.png:70,halo/teleport-4.png:70,halo/teleport-5.png:70,halo/teleport-6.png:70,halo/teleport-7.png:70,halo/teleport-8.png:70,halo/teleport-9.png:70"
[/item]
{BOB_REDRAW}
[unit]
side=$side_number
type={TYPE}
random_traits=no
animate=yes
x=$x1
y=$y1
upkeep=0
[modifications]
{BOB_ADD_ABILITY CONJURED}
[/modifications]	
[/unit]
{BOB_REDRAW}
{BOB_DELAY 100}
[remove_item]
	x=$x1
	y=$y1
[/remove_item]
{BOB_REDRAW}
#enddef

#define BOB_GET_PLAYER_NAME
{BOB_STORE_UNIT side=1 canrecruit=yes ({VARIABLE character[1].name $stored_unit.user_description})}
{BOB_STORE_UNIT side=2 canrecruit=yes ({VARIABLE character[2].name $stored_unit.user_description})}
{BOB_STORE_UNIT side=3 canrecruit=yes ({VARIABLE character[3].name $stored_unit.user_description})}
{BOB_STORE_UNIT side=4 canrecruit=yes ({VARIABLE character[4].name $stored_unit.user_description})}
{BOB_STORE_UNIT side=5 canrecruit=yes ({VARIABLE character[5].name $stored_unit.user_description})}
{BOB_STORE_UNIT side=6 canrecruit=yes ({VARIABLE character[6].name $stored_unit.user_description})}
#enddef

####################################################################################
# Death Macros
####################################################################################


#define BOB_CREATURE_DEATH FILTER_1 VAR
[event]
name=die
first_time_only=no
[filter]
	{FILTER_1}
	[not]
		[filter_location]
			terrain="Xu,Xos,^Xo,Xv,Qlf,Ql,Qxu,Wo,Ww,Mm^Xm,Md^Xm"
		[/filter_location]
	[/not]
	#[not]
	#	ability=conjured
	#[/not]
[/filter]
{PLACE_IMAGE items/{VAR}.png $x1 $y1}
[store_locations]
	variable={VAR}_xy
	find_in={VAR}_xy
	[or]
		x,y=$x1,$y1
	[/or]
[/store_locations]
[/event]
#enddef

#define BOB_CHARACTER_DEATH
[event]
	name=die
	first_time_only=no
	[filter]
		canrecruit=yes
		[filter_wml]
			[variables]
				character_status=active
			[/variables]
		[/filter_wml]
	[/filter]
	{PLACE_IMAGE items/bones_and_backpack.png $x1 $y1}
    # the following will store this unit into an array containing all dead characters
	[store_unit]
		[filter]
			x,y=$x1,$y1
		[/filter]
		kill=no
		mode=append
		variable=dead_characters
	[/store_unit]
[/event]
#enddef

####################################################################################
# Animation Macros
####################################################################################
  

#define BOB_SUB_FRAME_LIGHTNING VARIATION DIR HALO_X HALO_Y COND
	[{COND}]
		hits=no
		direction={DIR}
		[frame]
			begin=-300
			end=-200
			halo=halo/lightning-bolt-{VARIATION}-1.png
			halo_x,halo_y={HALO_X},{HALO_Y}
			sound=lightning-miss.ogg
		[/frame]
		[frame]
			begin=-200
			end=-100
			halo=halo/lightning-bolt-{VARIATION}-2.png
			halo_x,halo_y={HALO_X},{HALO_Y}
		[/frame]
		[frame]
			begin=-100
			end=0
			halo=halo/lightning-bolt-{VARIATION}-4.png
			halo_x,halo_y={HALO_X},{HALO_Y}
		[/frame]
		[frame]
			begin=0
			end=100
			halo=misc/blank-hex.png
			halo_x,halo_y={HALO_X},{HALO_Y}
		[/frame]
	[/{COND}]
	[else]
		hits=yes
		direction={DIR}
		[frame]
			begin=-300
			end=-200
			halo=halo/lightning-bolt-{VARIATION}-1.png
			halo_x,halo_y={HALO_X},{HALO_Y}
			sound=lightning.ogg
		[/frame]
		[frame]
			begin=-200
			end=-100
			halo=halo/lightning-bolt-{VARIATION}-2.png
			halo_x,halo_y={HALO_X},{HALO_Y}
		[/frame]
		[frame]
			begin=-100
			end=100
			halo=halo/lightning-bolt-{VARIATION}-3.png
			halo_x,halo_y={HALO_X},{HALO_Y}
		[/frame]
		[frame]
			begin=100
			end=200
			halo=halo/lightning-bolt-{VARIATION}-4.png
			halo_x,halo_y={HALO_X},{HALO_Y}
		[/frame]
		[frame]
			begin=200
			end=250
			halo=misc/blank-hex.png
			halo_x,halo_y={HALO_X},{HALO_Y}
		[/frame]
	[/else]
#enddef

#define BOB_SUB_ANIM_LIGHTNING VARIATION
	[attack_anim]
		[filter_attack]
			name=Lightning
		[/filter_attack]
		#dummy missile frame to block the sliding otherwise
		[missile_frame]
			begin=-100
			end=0
		[/missile_frame]
		{BOB_SUB_FRAME_LIGHTNING {VARIATION} n 0 -210 if}
		{BOB_SUB_FRAME_LIGHTNING {VARIATION} s 0 -72 else}
		{BOB_SUB_FRAME_LIGHTNING {VARIATION} se,sw 54 -104 else}
		{BOB_SUB_FRAME_LIGHTNING {VARIATION} ne,nw 54 -176 else}
	[/attack_anim]
#enddef

#define BOB_ANIM_LIGHTNING
	{BOB_SUB_ANIM_LIGHTNING 1}
	{BOB_SUB_ANIM_LIGHTNING 2}
	{BOB_SUB_ANIM_LIGHTNING 3}
#enddef

	####################################################################################
	# Dead bodies
	####################################################################################

#define BOB_PLACE_CORPSE	
	[event]
	name=die
	first_time_only=no
		[filter]
			[filter_location]
				[not]
					terrain=Wo,Wog,Wot,Ww,Wwg,Wwt,Ss,*^V*,Gg^Wm,Ww^Ewl,Ww^Ewf,Qlf,Ql,Qxe,Qxua,Qxu
                [/not]
            [/filter_location]
            [and]
				race=human
				[or]
					race=elf
				[/or]
				[or]
					race=dwarf
				[/or]
				[or]
					race=orc
				[/or]
				[or]
					race=goblin
				[/or]
				[or]
					race=lizard
				[/or]
				[or]
					race=ogre
				[/or]
				[or]
					race="dark elf"
				[/or]
				[or]
					race=kalifa
				[/or]
				[or]
					race=sidhe
				[/or]
				[or]
					race=aragwaith
				[/or]
				[or]
					race=calydonianrace
				[/or]
				[or]
					race=lavinian
				[/or]
				[or]
					race=nemidian
				[/or]
			[/and]
		[/filter]
		
		[store_locations]
			variable=corpse_xy
			find_in=corpse_xy
			[or]
				x,y=$x1,$y1
			[/or]
		[/store_locations]
 
		[if]
			{BOB_CONDITION turn_number greater_than_equal_to 1}
			[then]
				[switch]
					variable=unit.type
					
					# Humans
					[case]
					value=Cavalryman,Dragoon,Cavalier
						{BOB_PLACE_IMAGE_TC $x1 $y1 units/human-loyalists/cavalryman-die-2 $unit.side}
					[/case]
					[case]
					value=Horseman,Lancer,Knight
						{BOB_PLACE_IMAGE_TC $x1 $y1 units/human-loyalists/horseman-se-die5 $unit.side}
					[/case]
					[case]
					value=Fencer,Master at Arms,Duelist
						{BOB_PLACE_IMAGE_TC $x1 $y1 units/human-loyalists/fencer-die5 $unit.side}
					[/case]
					[case]
					value=Sergeant,Lieutenant,General,Grand Marshal
						{BOB_PLACE_IMAGE_TC $x1 $y1 units/human-loyalists/lieutenant-die-9 $unit.side}
					[/case]
					[case]
					value=Pikeman
						{BOB_PLACE_IMAGE_TC $x1 $y1 units/human-loyalists/pikeman-die-5 $unit.side}
					[/case]
					[case]
					value=Spearman
						{BOB_PLACE_IMAGE_TC $x1 $y1 units/human-loyalists/spearman-death4 $unit.side}
					[/case]
					[case]
					value=Rogue
						{BOB_PLACE_IMAGE_TC $x1 $y1 units/human-outlaws/rogue-die-6 $unit.side}
						[if]
							{BOB_CONDITION unit.gender equals female}
							[then]
								{BOB_PLACE_IMAGE_TC $x1 $y1 units/human-outlaws/rougue+female-die-6 $unit.side}
							[/then]
							[else]
								{BOB_PLACE_IMAGE_TC $x1 $y1 units/human-outlaws/rogue-die-7 $unit.side}
							[/else]
						[/if]
					[/case]
					[case]
					value=Thief
						[if]
							{BOB_CONDITION unit.gender equals female}
							[then]
								{BOB_PLACE_IMAGE_TC $x1 $y1 units/human-outlaws/thief+female-die-7 $unit.side}
							[/then]
							[else]
								{BOB_PLACE_IMAGE_TC $x1 $y1 units/human-outlaws/thief-die-7 $unit.side}
							[/else]
						[/if]
					[/case]
					[case]
					value=Trapper,Huntsman
						{BOB_PLACE_IMAGE_TC $x1 $y1 units/human-outlaws/trapper-die-8 $unit.side}
					[/case]
					[case]
						value=Dark Adept,Dark Sorcerer,Necromancer
						{BOB_PLACE_IMAGE_TC $x1 $y1 units/undead-necromancers/adept-die8 $unit.side}
					[/case]
					
					# Elves
					
					[case]
					value=Elvish Fighter,Elvish Archer,Elvish Scout
						{BOB_PLACE_IMAGE_TC $x1 $y1 units/elves-wood/archer-die4 $unit.side}
					[/case]
					[case]
					value=Elvish Ranger,Elvish Rider
						{BOB_PLACE_IMAGE_TC $x1 $y1 units/elves-wood/ranger-die4 $unit.side}
					[/case]
					[case]
					value=Elvish Avenger,Elvish Outrider,Elvish Captain,Elvish Hero,Elvish Champion,Elvish Marshal
						{BOB_PLACE_IMAGE_TC $x1 $y1 units/elves-wood/avenger-die4 $unit.side}
					[/case]
					[case]
					value=Elvish Marksman
						{BOB_PLACE_IMAGE_TC $x1 $y1 units/elves-wood/marksman-die-5 $unit.side}
					[/case]
					[case]
					value=Elvish Sharpshooter
						{BOB_PLACE_IMAGE_TC $x1 $y1 units/elves-wood/sharpshooter-die4 $unit.side}
					[/case]
					[case]
					value=Elvish Lord,Elvish High Lord
						{BOB_PLACE_IMAGE_TC $x1 $y1 items/corpse-elf $unit.side}
					[/case]
					
					# Orcs
					[case]
					value=Orcish Assassin,Orcish Slayer
						{BOB_PLACE_IMAGE_TC $x1 $y1 units/orcs/assassin-die-10 $unit.side}
					[/case]
					[case]
					value=Orcish Grunt,Orcish Warrior,Orcish Warlord
						{BOB_PLACE_IMAGE_TC $x1 $y1 units/orcs/grunt-die-6 $unit.side}
					[/case]
					
					# Goblins
					[case]
					value=Goblin Spearman,Goblin Impaler,Goblin Rouser
						{BOB_PLACE_IMAGE_TC $x1 $y1 units/goblins/impaler-death-9 $unit.side}
					[/case]
							
					# Dwarves
					[case]
					value=Dwarvish Thunderer,Dwarvish Thunderguard
						{BOB_PLACE_IMAGE_TC $x1 $y1 units/dwarves/thunderer-die3 $unit.side}
					[/case]
					
					# Saurians
					[case]
					value=Saurian Ambusher
						[if]
							{BOB_CONDITION unit.facing equals n}
							[or]
								{BOB_CONDITION unit.facing equals ne}	
							[/or]
							[or]
								{BOB_CONDITION unit.facing equals nw}
							[/or]
							[then]
								{BOB_PLACE_IMAGE_TC $x1 $y1 units/saurians/ambusher/ambusher-ne-die4 $unit.side}
							[/then]
							[else]
								{BOB_PLACE_IMAGE_TC $x1 $y1 units/saurians/ambusher/ambusher-se-die4 $unit.side}
							[/else]
						[/if]
					[/case]
					[case]
					value=Saurian Augur
						[if]
							{BOB_CONDITION unit.facing equals n}
							[or]
								{BOB_CONDITION unit.facing equals ne}	
							[/or]
							[or]
								{BOB_CONDITION unit.facing equals nw}
							[/or]
							[then]
								{BOB_PLACE_IMAGE_TC $x1 $y1 units/saurians/augur/augur-ne-die4 $unit.side}
							[/then]
							[else]
								{BOB_PLACE_IMAGE_TC $x1 $y1 units/saurians/augur/augur-se-die4 $unit.side}
							[/else]
						[/if]
					[/case]
					[case]
					value=Saurian Flanker
						[if]
							{BOB_CONDITION unit.facing equals n}
							[or]
								{BOB_CONDITION unit.facing equals ne}	
							[/or]
							[or]
								{BOB_CONDITION unit.facing equals nw}
							[/or]
							[then]
								{BOB_PLACE_IMAGE_TC $x1 $y1 units/saurians/flanker/flanker-ne-die4 $unit.side}
							[/then]
							[else]
								{BOB_PLACE_IMAGE_TC $x1 $y1 units/saurians/flanker/flanker-se-die4 $unit.side}
							[/else]
						[/if]
					[/case]
					[case]
					value=Saurian Oracle
						[if]
							{BOB_CONDITION unit.facing equals n}
							[or]
								{BOB_CONDITION unit.facing equals ne}	
							[/or]
							[or]
								{BOB_CONDITION unit.facing equals nw}
							[/or]
							[then]
								{BOB_PLACE_IMAGE_TC $x1 $y1 units/saurians/oracle/oracle-ne-die4 $unit.side}
							[/then]
							[else]
								{BOB_PLACE_IMAGE_TC $x1 $y1 units/saurians/oracle/oracle-se-die4 $unit.side}
							[/else]
						[/if]
					[/case]
					[case]
					value=Saurian Skirmisher
						[if]
							{BOB_CONDITION unit.facing equals n}
							[or]
								{BOB_CONDITION unit.facing equals ne}	
							[/or]
							[or]
								{BOB_CONDITION unit.facing equals nw}
							[/or]
							[then]
								{BOB_PLACE_IMAGE_TC $x1 $y1 units/saurians/skirmisher/skirmisher-ne-die4 $unit.side}
							[/then]
							[else]
								{BOB_PLACE_IMAGE_TC $x1 $y1 units/saurians/skirmisher/skirmisher-se-die4 $unit.side}
							[/else]
						[/if]
					[/case]
					[case]
					value=Saurian Soothsayer
						[if]
							{BOB_CONDITION unit.facing equals n}
							[or]
								{BOB_CONDITION unit.facing equals ne}	
							[/or]
							[or]
								{BOB_CONDITION unit.facing equals nw}
							[/or]
							[then]
								{BOB_PLACE_IMAGE_TC $x1 $y1 units/saurians/soothsayer/soothsayer-ne-die4 $unit.side}
							[/then]
							[else]
								{BOB_PLACE_IMAGE_TC $x1 $y1 units/saurians/soothsayer/soothsayer-se-die4 $unit.side}
							[/else]
						[/if]
					[/case]
					
					# Generic Skeletons
					[case]
					value=Woodsman,Bowman,Poacher,Longbowman,Master Bowman,Orcish Archer,Orcish Crossbowman,Orcish Slurbow
						{BOB_PLACE_IMAGE_TC $x1 $y1 units/undead-skeletal/archer-die-13 $unit.side}
					[/case]
					[case]
					value=Halberdier,Dwarvish Ulfserker,Dwarvish Berserker
						{BOB_PLACE_IMAGE_TC $x1 $y1 units/undead-skeletal/revenant-dying-7 $unit.side}
					[/case]
					[case]
					value=Orcish Sovereign,Orcish Ruler,Orcish Leader
						{BOB_PLACE_IMAGE_TC $x1 $y1 units/undead-skeletal/deathblade-dying-7 $unit.side}
					[/case]
					
					# Everything else
					[else]
						{PLACE_IMAGE items/bones.png $x1 $y1}
					[/else]
				[/switch]
			[/then]
		[/if]
	[/event]
#enddef

#define BOB_TALENT_SCAVENGER
[event]
name=moveto
first_time_only=no
	[filter]
		canrecruit=yes
		[filter_location]
			find_in=corpse_xy
		[/filter_location]
		[filter_wml]
			[modifications]
				[trait]
					id=scavenger
				[/trait]
			[/modifications]
		[/filter_wml]
	[/filter]
	{BOB_PRINT ("$character[$side_number].name has picked up a poison trap")}
	{BOB_SOUND skeleton-hit-2.ogg}
	{VARIABLE_OP inventory[$side_number].poison add 1}
	{REMOVE_IMAGE $x1 $y1}
	[store_locations]
		variable=corpse_xy
		find_in=corpse_xy
		[not]
			x,y=$x1,$y1
		[/not]
	[/store_locations]
[/event]
#enddef